body, html {
    height: 100%;
}

h1, h2, h3, h4, ul {
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    /* text-transform: uppercase; */
}

button {
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    background-color: #45230f;
    color: white;
    border-radius: 10px;
    padding: 15px 25px 15px 30px;
    border: none;
    font-size: large;
}

header {
    border-bottom: 1px solid black;
}

label {
    font-family: 'Quantico', sans-serif;
    color: #f2f2f2;
}

form {
    text-align: center;
}

span {
    padding: 50px;
    display: flex;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: 1000
}

input {
    border-radius: 5px;
    border: solid 1px;
    box-shadow: #101010;
}

footer {
    background-color: #233237;
    color: #f2f2f2;
}

footer a {
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

.logo {
    width: 75%;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu {
    display: flex;
    position: fixed;
        left: -200%;
        top: 5rem;
        flex-direction: column;
        background-color: #233237;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px black;
        z-index: 1000;
        
 }

 .nav-menu.active {
    left: 0;
}

.nav-item {
    /* margin-left: 5rem; */
    margin: 2.5rem 0;
}

.nav-link {
    font-weight: 1.6rem;
    font-weight: 400;
    color: #f2f2f2;
}

.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hero-image-mug {
    background-image: url(images/coffee-hero-bg.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.beans {
    background-image: url(images/coffee-beans-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0;
    padding: 75px;
}

.beans>p {
    width: 50%;
}

.location  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #233237;
    color: #f2f2f2;
    padding: 75px;
    text-align: center;
}

.google-maps {
    padding: 0;
    width: 75%;
    height: 100%;
}

.hours {
    padding-top: 25px;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px
}

.menu-flex-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    width: 100%;
}

.menu-item {
    width: 100%;
    padding-top: 25px;
}

.menu-item>h4 {
    font-size: 20px;
}

.coffees {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.teas {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.snacks {
    margin-top: 50px;
    text-align: center;
}

.contact {
    background-color: #00614f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
}

.contact>p {
    text-align: center;
    color: #f2f2f2;
}

#contact {
    color: #f2f2f2;
    text-align: center;
    font-size: xx-large;
}

.join {
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    background-color: #A6592F;
    color: white;
    border-radius: 10px;
    padding: 15px 25px 15px 30px;
    border: none;
    font-size: large;
}

.submit {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.legal-info {
    background: #11191b;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
}

@media only screen and (min-width: 426px) {
    .logo {
        width: 100%;
    }

    .top-nav {
        flex-direction: column;
    }

    .nav-menu {    
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        left: 0;
        top: auto;
        flex-direction: row;
        z-index: 0;
        background: none;
        box-shadow: none;
        transition: none;
        position: absolute;
    }

    .nav-item {
        margin-left: 5rem;
    }

    .nav-link {
        color: black;
    }
    
    .nav-link:hover {
        color: #b98757;
    }

    .hamburger {
        display: none;
    }

    /*BEGIN LOCATION CHANGES*/
    .location {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*BEGIN MENU CHANGES*/
    .menu-flex-parent {
        flex-direction: row;
        width: 75%;
    }

    .coffees {
        width: 50%;
    }

    .teas {
        width: 50%;
    }

    .snacks {
        width: 50%;
    }

    .menu-item {
        width: 45%;
    }
}

@media only screen and (min-width: 769px) {
    .logo {
        width: 75%;
    }
    
    .top-nav {
        flex-direction: row;
    }


}